{% extends "base.html" %}

{% block title %}
    Make transfer - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
        <div class="section-inner clearfix">

        <h3>Credit transfer — check entered data</h3>

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <ul>
            <li>Recipient name: {{ recipient_name }} </li>
            <li>Recipient account: {{ recipient_account }}</li>
            <li>Amount: {{ amount }}</li>
        </ul>
        <form action="" method="post">
            {% csrf_token %}
            <td><input type="hidden" name="next" value="{{ next|default:'/home/' }}"></td>
            <td><input type="hidden" name="confirm" value="true"></td>
            <td><input type="hidden" name="recipient_name" value={{ recipient_name }}></td>
            <td><input id = account type="hidden" name="recipient_account" value= {{ recipient_account }}></td>
            <td><input type="hidden" name="amount" value="{{ amount }}"></td>
            <td><input type="submit" value="Submit" ></td>
        </form>

        </div>
    </div>

{% endblock %}
