{% extends "base.html" %}

{% block title %}
    Transfer confirmation - {{ block.super }}
{% endblock %}

{% block content %}

    <div class="content">
        <div class="section-inner clearfix">

        <h3>Transfer sent!</h3>

        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}

        <ul>
            <li>Sender account: {{ sender_account | safe }}</li>
            <li>Recipient name: {{ recipient_name | safe}} </li>
            <li id="server_account">Recipient account: {{ recipient_account | safe }}</li>
            <li>Amount: {{ amount | safe }}</li>
            <li>Confirmed: {{ confirmed | safe }}</li>
        </ul>
        <form action="" method="post">
{#            {% csrf_token %}#}
            <td><input type="hidden" name="next" value="{{ next|default:'/home/'| safe }}"></td>
            <td><input type="hidden" name="server" value="true"></td>
            <td><input type="hidden" name="recipient_name" value={{ recipient_name | safe }}></td>
            <td><input id = account type="hidden" name="recipient_account" value= {{ recipient_account | safe}}></td>
            <td><input type="hidden" name="amount" value="{{ amount | safe }}"></td>
            <td><input id=confirmed type="hidden" name="confirmed" value="{{ confirmed | safe}}"></td>
            <td><input id = sender type="number" style="display:none" name="sender" value={{ sender_account | safe }}></td>
            <td><input type="submit" value="Return to homepage" ></td>
        </form>

        </div>
    </div>

{% endblock %}
